!!!
/ [if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %title Welcome to Foundation

    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width", :name => "viewport"}/

    / Included CSS Files
    = stylesheet_link_tag "normalize"
    = stylesheet_link_tag "app"

    = javascript_include_tag "vendor/custom.modernizr"

  %body
    .row
      .large-12.columns
        %h2 Welcome to Foundation
        %p This is version 4.0.0
        %hr/
    .row
      .large-8.columns
        %h3 The Grid
        / Grid Example
        .row
          .large-12.columns
            .panel
              %p This is a large-12 column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.
        .row
          .large-6.columns
            .panel
              %p large-6 columns
          .large-6.columns
            .panel
              %p large-6 columns
        .row
          .large-4.columns
            .panel
              %p large-4 columns
          .large-4.columns
            .panel
              %p large-4 columns
          .large-4.columns
            .panel
              %p large-4 columns
        %h3 Tabs
        %dl.tabs
          %dd.active
            %a{:href => "#simple1"} Simple Tab 1
          %dd
            %a{:href => "#simple2"} Simple Tab 2
          %dd
            %a{:href => "#simple3"} Simple Tab 3
        %ul.tabs-content
          %li#simple1Tab.active This is simple tab 1's content. Pretty neat, huh?
          %li#simple2Tab This is simple tab 2's content. Now you see it!
          %li#simple3Tab This is simple tab 3's content. It's, you know...okay.
        %h3 Buttons
        .row
          .large-6.columns
            %p
              %a.small.button{:href => "#"} Small Button
            %p
              %a.button{:href => "#"} Medium Button
            %p
              %a.large.button{:href => "#"} Large Button
          .large-6.columns
            %p
              %a.small.alert.button{:href => "#"} Small Alert Button
            %p
              %a.success.button{:href => "#"} Medium Success Button
            %p
              %a.large.secondary.button{:href => "#"} Large Secondary Button
      .large-4.columns
        %h4 Getting Started
        %p We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
        %h4 Other Resources
        %p Once you've exhausted the fun in this document, you should check out:
        %ul.disc
          %li
            %a{:href => "http://foundation.zurb.com/docs"} Foundation Documentation
            = succeed "Everything" do
              %br/
            you need to know about using the framework.
          %li
            %a{:href => "http://github.com/zurb/foundation"} Foundation on Github
            = succeed "Latest" do
              %br/
            code, issue reports, feature requests and more.
          %li
            %a{:href => "http://twitter.com/foundationzurb"} @foundationzurb
            = succeed "Ping" do
              %br/
            us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
    / Included JS Files (Uncompressed)
    :javascript
      document.write('<script src=' +
      ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
      '.js><\/script>')

    - Dir.glob("public/javascripts/foundation/**.js").each do |js|
      = javascript_include_tag "foundation/#{File.basename(js)}"

    / Application Javascript, safe to override
    = javascript_include_tag "foundation/app"

